body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:30px;
  width:300px;
  height:21px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:100px;
  width:700px;
  height:1938px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1938px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
