body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:174px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:30px;
  width:144px;
  height:159px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:159px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
